@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400&display=swap");

.sliding-banner {
  width: 100%;
  height: 70px; /* Adjust height as needed */
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
}
.text-slide > pre > .planning-text {
  position: absolute;
  animation: slide 80s linear infinite; /* Adjust animation duration as needed */
  font-size: 30px;
  font-family: "cinzel", serif;
  opacity: 0.8;
  font-weight: 100;
}

@keyframes slide {
  0% {
    left: -100%; /* Start position */
  }
  100% {
    left: 100%; /* End position */
  }
}

.detail-container {
  width: 100%;
  margin: 50px 0;
}
.detail {
  display: flex;
  justify-content: center;
}
.detail-box {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.detail-box > img {
  width: 130px;
  height: 130px;
}
.detail-box > .box-title {
  font-size: 30px;
  font-weight: 600;
  font-family: "cinzel", serif;
  margin: 20px 0;
}
.detail-box > p {
  font-family: "Josefin Sans";
  font-weight: 320;
  font-size: 18px;
}
@media (max-width: 768px) {
  .detail-container > .detail {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
